<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id='app'>
        <cpn :number1="num1" :number2="num2" @num1change="num1Change" @num2change="num2Change"></cpn>
    </div>

    <template id='cpn'>
        <div>
            <h2>props:{{number1}}</h2>
            <h2>data: {{dnumber1}}</h2>
            <input type="text" v-model="dnumber1">
            <h2>props:{{number2}}</h2>
            <h2>data:{{dnumber2}}</h2>
            <input type="text" v-model="dnumber2">
        </div>
    </template>
    <script src="../js/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                num1: 1,
                num2: 0
            },
            methods: {
                num1Change(value) {
                    this.num1 = parseFloat(value)
                },
                num2Change(value) {
                    this.num2 = parseFloat(value)
                }
            },
            components: {
                cpn: {
                    template: '#cpn',
                    data() {
                        return {
                            dnumber1: this.number1,
                            dnumber2: this.number2
                        }
                    },
                    props: {
                        number1: Number,
                        number2: Number
                    },
                    watch: {
                        // 跟oc 的kvo一个道理，但是这里变成死循环了， watch监听的是值的变化，不是input输入事件
                        // 所以该需求，watch并不合适
                        dnumber1(newValue) {
                            this.dnumber2 = newValue * 100
                            this.$emit('num1change', this.dnumber1)
                        },
                        dnumber2(newValue) {
                            this.dnumber1 = newValue / 100
                            this.$emit('num2change', this.dnumber2)
                        }
                    }
                }
            }
        });
    </script>
</body>

</html>